<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize css.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h4> </h4>
    <h1> Martina</h1>
    <h2> Vazquez</h2>

    <p class="parrafo-destacado">Estudia relaciones publicas en la universidad de moron</p>

    <p>Tiene un emprendimiento de venta de indumentaria llamada <strong>ByGeorgina</strong></p>
    <strong>@__bygeorgina</strong>

    <P>Tiene 2 perros:</P>

    <ol>
        <li> Galo</li>
        <li> Eros</li>
    </ol>

    <p>Su novio tiene 2 gatas:</p>

    <ul> 
        <li> Mini </li>
        <li> Eva</li>
    </ul>

    <a href ="https://www.google.com"> Ir a google</a>

    <article class="contendor01">
        <h2>lorem ipsum dolor sit</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatem itaque consequuntur cupiditate quod id? Tenetur, distinctio illo ipsa laudantium corporis provident voluptate dolorem hic sed aut repellat esse aliquid!</p>

        <article class="contenedor03">
            <p>Soy el contenedor nro 3</p>
        </article>
    </article>

    <article class="contenedor02">
        <h1>lorem ipsum dolor sit</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum similique cupiditate autem reprehenderit repellat libero voluptate laborum quibusdam distinctio quis asperiores necessitatibus, tempora nostrum beatae et non blanditiis at esse?</p>

        <article class="contenedor04">
            <p>Soy el contenedor nro 4</p>
        </article>
    </article>

    <article class="contenedor05">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi odit fuga</article>
    <p class="oculto"> TEXTO OCULTOOOOOOOOOOOÓ</p>
</body>
</html>


// ! 